<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" >
</head>
<body>
<!--查询管理-->
<form class="layui-form ng-pristine ng-valid ng-scope" lay-filter="workerform" 
ng-controller="workerCtrl">
		<div class="layui-form-item">
				<label class="layui-form-label">姓名</label>
				<div class="layui-input-inline">
					<input name="wk_name" class="layui-input">
				</div>
				<label class="layui-form-label">手机号</label>
				<div class="layui-input-inline">
					<input name="wk_phone" class="layui-input"
					placeholder="可输入部分或全部手机号">
				</div>
	    </div>
	    <div class="layui-form-item">
				<label class="layui-form-label">工号</label>
				<div class="layui-input-inline">
					<input name="wk_num" class="layui-input">
				</div>
				<label class="layui-form-label">创建时间</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input" id="test1" name="wk_creation" >
				</div>
	    </div>
		
	    <div class="layui-form-item">
				<label class="layui-form-label"></label>
	    		<div class="layui-input-block">
					<button lay-submit="" lay-filter="go"
					 class="layui-btn" ng-click="query()">
					查询
					<span class="layui-icon layui-icon-form"></span>
					</button>
					<button type="reset" class="layui-btn layui-btn-primary">
					重置
					<span class="layui-icon layui-icon-refresh"></span>
					</button>
					<button lay-submit="" lay-filter="go" 
					class="layui-btn layui-btn-danger" ng-click="deleteById()">
					<i class="layui-icon">&#xe640;</i>
					删除
					</button>
				</div>
	    </div>
	    <table id="workerTable" lay-filter="workerlist"></table>
	</form>

</body>
</html>