<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" >
</head>
<body>
	<form class="layui-form"  lay-filter="workform"  ng-controller="workerCtrl" >
		<div class="layui-form-item"  >
				<label class="layui-form-label">员工姓名</label>
				<div class="layui-input-inline">
					<input   name="name" class="layui-input">
				</div>
			   <label class="layui-form-label">站点选择</label>
				<div class="layui-input-inline">
					<select   class="layui-input" name="site_id"   >
					<option  ng-repeat="site in sitelist" value="{{site.id}}"  ng-bind="site.name"></option>
					</select> 
				</div>
	    </div>
	    
	    <div class="layui-form-item"  >
				<label class="layui-form-label">电话</label>
				<div class="layui-input-inline">
					<input  name="tel" class="layui-input">
				</div>
			   <label class="layui-form-label">岗位类型</label>
				<div class="layui-input-inline">
					<select   class="layui-input" name="type"   >
					    <option value="1">快递员</option>
					    <option value="2">仓库管理员</option>
					    <option value="3">调度员</option>
					</select>  
				</div>
	    </div>
	    
	    <div class="layui-form-item" >
	    		<label class="layui-form-label"></label>
	    		<div class="layui-input-inline">
					<button type="button"  
						class="layui-btn"  ng-click="insert()">添加</button>
						<button type="button"  
						class="layui-btn layui-btn-danger" ng-click="deleteById()">删除</button>
				</div>
	    </div>
		<table id="workerTable" lay-filter="workerlist"></table>
	</form>
</body>
</html>