<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" >
</head>
<body>
<!--吸烟柱管理-->
<form class="layui-form"  lay-filter="workform"  ng-controller="PatrolCtrl" >
		<div class="layui-form-item"  >
				<label class="layui-form-label">位置名称</label>
				<div class="layui-input-inline">
					<input   name="name" class="layui-input">
				</div>
				<label class="layui-form-label">位置详细</label>
				<div class="layui-input-inline">
					<input   name="fy_detail" class="layui-input">
				</div>
				<label class="layui-form-label">设施名称</label>
				<div class="layui-input-inline">
					<input   name="fy_name" class="layui-input">
				</div>
	    </div>
	    
	    <div class="layui-form-item"  >
			   <label class="layui-form-label">创建者</label>
				<div class="layui-input-inline">
					<div class="layui-input-inline">
						<input  name="tel" class="layui-input">
					</div>
				</div>
				<label class="layui-form-label">创建时间</label>
				<div class="layui-input-inline">
				<input type="text" class="layui-input" id="test1">
				</div>
				<label class="layui-form-label">是否启用</label>
					<div class="layui-input-inline">
						<select   class="layui-input" name="fy_isdel" lay-verify="required"  >
							<option value="1">启用</option>
							<option value="2">未启用</option>
						</select>  
					</div>
	    </div>
	    
	    <div class="layui-form-item" >
	    		<label class="layui-form-label"></label>
	    		<div class="layui-input-inline">				  
	    			<button type="button" class="layui-btn"  
	    			ng-click="insert()">添加</button>	
	    			<button type="button" class="layui-btn 
	    			layui-btn-danger" ng-click="deleteById()">删除</button>
	    		</div>
	    		<div class="layui-input-inline">		
	    			<button type="button" class="layui-btn 
	    			layui-btn-normal" ng-click="select()"style="margin-left: -40px;">查询</button>
	    		</div>
	    </div>
		<table id="workerTable" lay-filter="workerlist"></table>
	</form>
</body>
</html>