<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" >
</head>
<body>
<!--查询巡更任务-->
<form class="layui-form ng-pristine ng-valid ng-scope" lay-filter="taskform" ng-controller="taskCtrl" style="padding:15px;">
		<div class="layui-form-item">
				<label class="layui-form-label">类型</label>
				<div class="layui-input-inline">
					<select lay-filter="fy_type" class="layui-input" name="tsk_type">
						<option value="">请选择</option>
					    <option value="1">吸烟亭</option>
					    <option value="2">吸烟柱</option>
					    <option value="3">售烟点</option>
					</select><div class="layui-unselect layui-form-select">
					<div class="layui-select-title">
					<input type="text" placeholder="请选择" value="" readonly="" class="layui-input layui-unselect">
					<i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit">
					<dd lay-value="" class="layui-select-tips">请选择</dd>
					<dd lay-value="1" class="">吸烟亭</dd>
					<dd lay-value="2" class="">吸烟柱</dd>
					<dd lay-value="3" class="">售烟点</dd></dl></div>  
				</div>
				<label class="layui-form-label">名称</label>
				<div class="layui-input-inline">
					<input name="tsk_name" class="layui-input">
				</div>
			  
	    </div>
	    <div class="layui-form-item">
				<label class="layui-form-label"></label>
	    		<div class="layui-input-block">
					<button lay-submit="" lay-filter="go"
					 class="layui-btn" ng-click="query()">
					查询
					<span class="layui-icon layui-icon-search"></span>
					</button>
					<button lay-submit="" lay-filter="go" 
					class="layui-btn" ng-click="redact()">
					<i class="layui-icon">&#xe642;</i>
					编辑
					</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置
					<span class="layui-icon layui-icon-refresh"></span>
					</button>
					<button lay-submit="" lay-filter="go" 
					class="layui-btn layui-btn-danger" ng-click="deleteById()">
					<i class="layui-icon">&#xe640;</i>
					删除
					</button>
				</div>
	    </div>
		<div class="layui-row">
				<div class="layui-col-md7">
				<table id="taskTable" lay-filter="tasklist"></table>
			    </div>
			    <div class="layui-col-md4 layui-col-md-offset1">
				    <div class="layui-collapse">
				      <div class="layui-colla-item">
					    <h2 class="layui-colla-title layui-bg-green">任务详情</h2>
					    <div class="layui-colla-content layui-show">
					    	 任务名称：<label class="ng-binding">{{taskmodel.tsk_name}}</label><br>
					 		 任务时间：<label class="ng-binding">{{taskmodel.tsk_time}}</label><br>
					 		 巡更领队：<label class="ng-binding"></label><br>
					    </div>
					  </div>
					  <div class="layui-colla-item">
						    <h2 class="layui-colla-title layui-bg-green ng-binding">巡更路线({{routemodel.length}})</h2>
						    <div class="layui-colla-content layui-show">
						    <label ng-if="routemodel.length==0" class="ng-scope">无数据，请点击左侧【编辑】添加巡更路线</label>
						    	<!-- ngIf: routemodel.length==0 -->
								<ul class="layui-timeline">
								  <!-- ngRepeat: item in routemodel  | orderBy : '+detail.rdt_tsk_seq' -->
								  <li class="layui-timeline-item ng-scope" 
								  ng-repeat="item in routemodel  | orderBy : '+detail.rdt_tsk_seq'">
								    <i class="layui-icon layui-timeline-axis"></i>
								    <div class="layui-timeline-content layui-text">
								      <div>
								      	<label style="font-size:24px;" class="ng-binding" ng-bind="item.fy_name"></label>
								      	<span class="layui-badge ng-binding" style="border-radius:10px;" ng-bind="item.rdt_tsk_seq"></span>
								      	<button class="layui-btn layui-btn-xs" ng-click="showCode(item.facility.fy_id)">码</button>
								      </div>
								      <p class="ng-binding"></p>
								    </div>
								  </li>
								</ul>					    
						    </div>
					  </div>
					  <div class="layui-colla-item">
					    <h2 class="layui-colla-title layui-bg-green ng-binding">巡更人员({{workerModel.length}})</h2>
					    <div class="layui-colla-content layui-show">
					    	 <!-- ngIf: facilityModel.length==0 -->
					    	 <label ng-if="workerModel.length==0" class="ng-scope">无数据，请点击左侧【编辑】添加巡更人员</label>
						     <!-- ngIf: facilityModel.length>0 -->
						     <table class="layui-table ng-scope" ng-if="workerModel.length>0">
								  <thead>
								    <tr>
								      <th width="100">名称</th>
								      <th width="200">手机号</th>
								      <th width="200">工号</th>
								    </tr>
								  </thead>
								  <tbody>
								  	  <!-- ngRepeat: item in facilityModel -->
								  	  <tr ng-repeat="item in workerModel" class="ng-scope">
								  	  	   <th><label ng-bind="item.wdt_worker_name" class="ng-binding"></label></th>
								  	  	   <th><label ng-bind="item.wk_phone" class="ng-binding"></label></th>
								  	  	   <th><label ng-bind="item.wdt_worker_id" class="ng-binding"></label></th>
								  	  </tr>
								  </tbody>
							</table>				    
					    </div>
					  </div>
					</div>
			  </div>
				
		</div>
	</form>
<script type="text/html" id="barDemo" class="ng-scope">
  <a class="layui-btn layui-btn-xs layui-icon layui-icon-form" lay-event="detail">详情</a>
</script>
</body>
</html>