<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" >
</head>
<body>
	<form class="layui-form"  lay-filter="siteform"  ng-controller="siteCtrl" >
		<div class="layui-form-item"  >
			   <label class="layui-form-label">地点选择</label>
				<div class="layui-input-inline">
					<select     class="layui-input" name="addr_id"   >
					<option  ng-repeat="add in addresslist" value="{{add.id}}"  ng-bind="add.name"></option>
					</select> 
				</div>
				<label class="layui-form-label">站点名称</label>
				<div class="layui-input-inline">
					<input   name="name" class="layui-input">
				</div>
				<div class="layui-input-inline">
					<button type="button"  
						class="layui-btn"  ng-click="insert()">添加</button>
						<button type="button"  
						class="layui-btn layui-btn-danger" ng-click="deleteAddr()">删除</button>
				</div>
	    </div>
		<table id="siteTable" lay-filter="sitelist"></table>
	</form>
</body>
</html>