<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smokeroom.mapper.TaskRouteDetailMapper">
  <resultMap id="BaseResultMap" type="com.smokeroom.entity.TaskRouteDetail">
  	<id column="rdt_id" jdbcType="INTEGER" property="rdt_id" />
    <result column="rdt_tsk_id" jdbcType="INTEGER" property="rdt_tsk_id" />
    <result column="rdt_fac_id" jdbcType="INTEGER" property="rdt_fac_id" />
    <result column="rdt_tsk_seq" jdbcType="INTEGER" property="rdt_tsk_seq" />
  </resultMap>
  
  <sql id="routeDetailField">rdt_tsk_id, rdt_fac_id, rdt_tsk_seq</sql>
  
  <!-- 插入巡更任务路线 调用存储过程同时插入 路线表、巡更签到表 、巡更进度表 -->
  <insert id="insert" parameterType="com.smokeroom.entity.ext.TaskRouteDetailVO">
	call myRoute(#{rdt_tsk_id},#{rdt_fac_id},#{rdt_tsk_seq})
  </insert>
  
  <!-- 删除巡更路线 同时删除 路线表、巡更签到表 、巡更进度表 连表删除 -->
  <delete id="delete" parameterType="com.smokeroom.entity.ext.TaskRouteDetailVO">
  	DELETE d,p,r FROM task_route_detail d
	INNER JOIN task_procgress p
	INNER JOIN sign_in_record r
	ON d.rdt_fac_id=r.sin_fac_id AND d.rdt_tsk_id=r.sin_tsk_id AND r.sin_prog_id=p.tp_id 
	WHERE d.rdt_id=#{rdt_id}
  </delete>

  <select id="selectAll" resultMap="BaseResultMap">
    select rdt_tsk_id, rdt_fac_id, rdt_tsk_seq
    from task_route_detail
  </select>
  
  <!-- 获取巡更路线 CMS端 -->
  <select id="get" resultType="com.smokeroom.entity.ext.TaskRouteDetailVO">
 	SELECT rdt_id,<include refid="routeDetailField"/>,fy_name FROM task
	INNER JOIN task_route_detail
	INNER JOIN facility
	ON task.tsk_id=task_route_detail.rdt_tsk_id AND task_route_detail.rdt_fac_id=facility.fy_id
	WHERE task.tsk_id=#{tsk_id}
	ORDER BY task_route_detail.rdt_tsk_seq ASC
  </select>
</mapper>