<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smokeroom.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.smokeroom.entity.User">
    <id column="ur_id" jdbcType="INTEGER" property="ur_id" />
    <result column="ur_openid" jdbcType="VARCHAR" property="ur_openid" />
    <result column="ur_wechat_id" jdbcType="VARCHAR" property="ur_wechat_id" />
    <result column="ur_phone" jdbcType="VARCHAR" property="ur_phone" />
    <result column="ur_nickname" jdbcType="VARCHAR" property="ur_nickname" />
    <result column="ur_unionid" jdbcType="VARCHAR" property="ur_unionid" />
    <result column="ur_scores" jdbcType="INTEGER" property="ur_scores" />
    <result column="ur_creation" jdbcType="TIMESTAMP" property="ur_creation" />
    <result column="ur_lastupdated" jdbcType="TIMESTAMP" property="ur_lastupdated" />
    <result column="ur_avatarurl" jdbcType="VARCHAR" property="ur_avatarurl" />
  </resultMap>
  
    <sql id="userField">
  	ur_id, ur_openid, ur_wechat_id, ur_phone, ur_nickname, ur_unionid, ur_scores, 
    ur_creation, ur_lastupdated,ur_avatarurl
  	</sql>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where ur_id = #{ur_id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.smokeroom.entity.User" >
    insert into user (<include refid="userField"/>)
    values (null, #{ur_openid,jdbcType=VARCHAR}, #{ur_wechat_id,jdbcType=VARCHAR}, 
      #{ur_phone,jdbcType=VARCHAR}, #{ur_nickname,jdbcType=VARCHAR}, #{ur_unionid,jdbcType=VARCHAR}, 
      #{ur_scores,jdbcType=INTEGER}, now(),now(), #{ur_avatarurl,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateUser" parameterType="com.smokeroom.entity.User">
    update user
    set
    <if test="ur_openid!=null">
      ur_openid = #{ur_openid,jdbcType=VARCHAR},
    </if>
    <if test="ur_wechat_id!=null">
      ur_wechat_id = #{ur_wechat_id,jdbcType=VARCHAR},
    </if>
    <if test="ur_phone!=null">
      ur_phone = #{ur_phone,jdbcType=VARCHAR},
    </if>
    <if test="ur_nickname!=null">
      ur_nickname = #{ur_nickname,jdbcType=VARCHAR},
    </if>
    <if test="ur_unionid!=null">
      ur_unionid = #{ur_unionid,jdbcType=VARCHAR},
    </if>
    <if test="ur_scores!=null">
      ur_scores = #{ur_scores,jdbcType=INTEGER},
    </if>
    <if test="ur_avatarurl!=null">
      ur_avatarurl= #{ur_avatarurl,jdbcType=VARCHAR},
    </if>
      ur_lastupdated = now()
    where ur_id = #{ur_id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ur_id, ur_openid, ur_wechat_id, ur_phone, ur_nickname, ur_unionid, ur_scores, 
    ur_creation, ur_lastupdated
    from user
    where ur_id = #{ur_id,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select ur_id, ur_openid, ur_wechat_id, ur_phone, ur_nickname, ur_unionid, ur_scores, 
    ur_creation, ur_lastupdated
    from user
  </select>
 
  
  <select id="get" parameterType="User" resultMap="BaseResultMap">
  	 select 
     <include refid="userField" />
    from user  where 1
    <if test="ur_id!=null">
   		and ur_id = #{ur_id}
    </if>
    <if test="ur_openid!=null">
   		and ur_openid = #{ur_openid}
    </if>
    <if test="ur_wechat_id!=null">
   		and ur_wechat_id = #{ur_wechat_id}
    </if>
    <if test="ur_phone!=null">
   		and ur_phone = #{ur_phone}
    </if>
    <if test="ur_nickname!=null">
   		and ur_nickname = #{ur_nickname}
    </if>
    <if test="ur_unionid!=null">
   		and ur_unionid = #{ur_unionid}
    </if>
    <if test="ur_scores!=null">
    	and ur_scores = #{ur_scores}
     </if>
     <if test="ur_creation!=null">
    	and datediff(#{ur_creation},ur_creation)=0
     </if>
     <if test="ur_lastupdated!=null">
    	and datediff(#{ur_lastupdated},ur_lastupdated)=0
     </if>
  </select>
  
  
</mapper>